{% extends 'home/base.html' %}
{% load static %}

{% block body %}

<section class="body-section">
    <div class="row">
        <div class="col span_1_of_2 content">
            <h2>Hey, I am SAMRAT</h2>
            <p>I am a professional full stack web application developer. I will create responsive website for your business.</p>
            <div class="project-btn">
                <button>My Project</button>
            </div>
            <div class="social-icon">
                <ul>
                    <li><a href="https://www.facebook.com/samratsr99" target="blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a></li>
                    <li><a href="https://www.linkedin.com/in/samrathossain/" target="blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a></li>
                    <li><a href="https://github.com/SamratHossain" target="blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a></li>
                    <li><a href="https://www.instagram.com/samraat_hossain/" target="blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="col span_1_of_2 home-img">
            <img src="{% static 'home/images/home-img.jpg' %}" alt="">
        </div>
    </div>
</section>

{% endblock %}